Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

remove unused build steps
  package.json
Due: prettier --write

incorrect suffix
  .sail.yml
Due: none

init readme
  README.md
Due: prettier --write

add logo
  assets/Eagle.svg
Due: none

fix typescript errors
  package-lock.json
  src/content_script.ts
  src/exchange.ts
  src/globals.d.ts
  src/styled-components.d.ts
  tsconfig.json
Due: prettier --write, eslint

add autocomplete and fix build seperation
  .gitignore
  package-lock.json
  package.json
  src/codemirror.d.ts
  src/panel/App.css
  src/panel/components/Tabs.tsx
  src/panel/context/Request.tsx
  src/panel/events/panels/JsonCode.tsx
  src/panel/events/panels/QueryCode.tsx
  src/panel/request/Query.tsx
  src/panel/request/Request.tsx
  src/panel/request/Response.tsx
  tsconfig.devtools.json
  tsconfig.exchange.json
  tsconfig.json
  webpack.config.js
Due: prettier --write, eslint

fix responsiveness
  src/panel/request/Request.tsx
Due: prettier --write, eslint

fix linting
  src/panel/events/panels/OperationPanel.tsx
  src/panel/events/panels/ResponsePanel.tsx
Due: prettier --write, eslint

infer type of operation to execute
  src/exchange.ts
Due: prettier --write, eslint

set color theme and styling
  .eslintrc
  src/panel/App.css
  src/panel/App.tsx
  src/panel/Navigation.tsx
  src/panel/components/Background.tsx
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
  src/panel/events/panels/JsonCode.tsx
  src/panel/events/panels/Panel.tsx
  src/panel/events/panels/QueryCode.tsx
  src/panel/request/Query.tsx
  src/panel/request/Response.tsx
  src/styled-components.d.ts
Due: prettier --write, eslint

fix horizontal layout
  src/panel/Navigation.tsx
  src/panel/components/Background.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

add prompt
  src/panel/context/Request.tsx
  src/panel/request/Query.tsx
Due: prettier --write, eslint

add error panel
  src/panel/events/panels/ErrorPanel.tsx
  src/panel/events/panels/Panel.tsx
Due: prettier --write, eslint

keep event order consistent
  src/exchange.ts
Due: prettier --write, eslint

show responses for queries and mutations
  src/panel/events/panels/JsonCode.tsx
  src/panel/events/panels/OperationPanel.tsx
  src/panel/events/panels/Panel.tsx
Due: prettier --write, eslint

fix refetching and fix mutation detection
  src/exchange.ts
  src/panel/context/Request.tsx
Due: prettier --write, eslint

highlight selected item
  src/panel/App.tsx
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
  src/styled-components.d.ts
Due: prettier --write, eslint

basic event filtering
  package-lock.json
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

fix typings, clean up CSS
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

add animation
  package-lock.json
  package.json
  src/panel/events/Events.tsx
Due: prettier --write, eslint

move filters to context and update styles
  src/panel/App.tsx
  src/panel/context/Filter.tsx
  src/panel/context/index.ts
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

wip event model
  src/panel/App.tsx
  src/panel/context/Events.tsx
  src/panel/context/Filter.tsx
  src/panel/context/index.ts
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
  src/panel/events/Filters.tsx
  src/panel/events/panels/ErrorPanel.tsx
  src/panel/events/panels/OperationPanel.tsx
  src/panel/events/panels/Panel.tsx
  src/panel/events/panels/QueryPanel.tsx
  src/panel/events/panels/ResponsePanel.tsx
  src/panel/types.ts
Due: prettier --write, eslint

speed up animation
  src/panel/events/Filters.tsx
Due: prettier --write, eslint

fix request
  src/exchange.ts
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
  src/panel/events/panels/QueryCode.tsx
  src/panel/types.ts
Due: prettier --write, eslint

add latest response states
  src/panel/context/Events.tsx
  src/panel/types.ts
Due: prettier --write, eslint

add back in key event listeners
  src/panel/events/Events.tsx
Due: prettier --write, eslint

add in default route redirect
  src/panel/App.tsx
Due: prettier --write, eslint

use branch
  .sail.yml
Due: none

attempt reload sail
  .sail.yml
Due: none

add circleci
  .circleci/config.yml
Due: none

bump
  .circleci/config.yml
Due: none

update dependency and remove type overrides
  package-lock.json
  package.json
  src/codemirror.d.ts
Due: prettier --write, eslint

add cut deploy
  .circleci/config.yml
Due: none

update temp
  .circleci/config.yml
Due: none

add restore cache
  .circleci/config.yml
Due: none

add styled components fix to pipeline
  .circleci/config.yml
Due: none

generate new nodemodules per build
  .circleci/config.yml
Due: none

Adds auto-publishing for tags (#33)
  .circleci/config.yml
  .sail.yml
Due: none

Add image for public repo
  README.md
Due: prettier --write

add getting started info to readme
  README.md
  docs/Development.md
Due: prettier --write
