Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

update urql peer dep
  package.json
Due: prettier --write

update links and version in package.json
  package.json
Due: prettier --write

remove fixed version number
  src/manifest.json
Due: prettier --write

add chrome extension changes
  README.md
  assets/Eagle.svg
  src/assets/icon-128.png
  src/assets/icon-192.png
  src/assets/icon-512.png
  src/devtools/devtools.ts
  src/manifest.json
  webpack.config.js
Due: prettier --write, eslint

fix broken icon
  src/assets/icon-192.png
Due: none

add icon transparency
  README.md
  src/assets/icon-128.png
  src/assets/icon-192.png
  src/assets/icon-256.png
  src/assets/icon-512.png
Due: prettier --write

use seperate svg for README
  README.md
  src/assets/icon.svg
Due: prettier --write

Fix #34
  LICENSE
Due: none

Manifest - fix icon attributes and description
  src/manifest.json
Due: prettier --write

Add Urql required version (v1.2.0)
  README.md
Due: prettier --write

Add ignores for npm publish
  .npmignore
Due: none

Add ignores for npm publish (#37)
  .npmignore
Due: none

initial publish prep
  .circleci/config.yml
Due: none

add workspace
  .circleci/config.yml
  package-lock.json
  package.json
Due: prettier --write

use yarn
  .circleci/config.yml
  .yarnclean
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write

fix types
  .circleci/config.yml
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
Due: prettier --write, eslint

fix minification artifacting in code-mirror
  package.json
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write

Add chrome extension link
  README.md
Due: prettier --write

Merge CI changes
  .circleci/config.yml
  .npmignore
  .sail.ci
  package.json
  src/exchange/exchange.ts
  src/exchange/index.ts
  tsconfig.exchange.json
  webpack.config.js
Due: prettier --write, eslint

Update package version
  package.json
Due: prettier --write

Add page action when content script connects
  src/assets/icon-128.png
  src/assets/icon-192.png
  src/assets/icon-256.png
  src/assets/icon-32.png
  src/assets/icon-512.png
  src/assets/icon-64.png
  src/assets/icon-disabled-128.png
  src/assets/icon-disabled-256.png
  src/assets/icon-disabled-32.png
  src/assets/icon-disabled-512.png
  src/assets/icon-disabled-64.png
  src/background/background.ts
  src/manifest.json
Due: prettier --write, eslint

Fix addition of multiple content scripts
  src/background/background.ts
  src/content_script.ts
Due: prettier --write, eslint

Add page action when content script connects (#39)
  src/assets/icon-128.png
  src/assets/icon-192.png
  src/assets/icon-256.png
  src/assets/icon-32.png
  src/assets/icon-512.png
  src/assets/icon-64.png
  src/assets/icon-disabled-128.png
  src/assets/icon-disabled-256.png
  src/assets/icon-disabled-32.png
  src/assets/icon-disabled-512.png
  src/assets/icon-disabled-64.png
  src/background/background.ts
  src/manifest.json
Due: prettier --write, eslint

WIP
  package.json
  src/background/EventBus.ts
  src/background/background.ts
  src/content_script.ts
  src/content_script/index.ts
  src/devtools/devtools.ts
  src/exchange/exchange.ts
  src/exchange/index.ts
  src/globals.d.ts
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/types-old.ts
  src/types.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Update and rename docs/Development.md to CONTRIBUTING.md
  CONTRIBUTING.md
  docs/Development.md
Due: prettier --write

Update and rename docs/Development.md to CONTRIBUTING.md (#40)
  CONTRIBUTING.md
  docs/Development.md
Due: prettier --write

Reformat README
  README.md
Due: prettier --write

(feat) - implement headers for our data presented by the devtools
  src/panel/events/Events.tsx
  src/panel/events/Headers.tsx
Due: prettier --write, eslint

(refactor) - move breakpoints to constants file since they are shared between headers and eventcard
  src/panel/events/EventCard.tsx
  src/panel/events/constants.ts
Due: prettier --write, eslint

(docs) - correct link to the contributing doc
  README.md
Due: prettier --write

(docs) - add step I needed to take when developping a chrome extension
  CONTRIBUTING.md
Due: prettier --write

(docs) - change client to use defaultExchanges since this evolves together with urql, as in if urql would change the defaultExchanges we woudln't have to update these docs by extension
  CONTRIBUTING.md
  README.md
Due: prettier --write

(docs) - use dist/extension folder instead of dist
  CONTRIBUTING.md
Due: prettier --write

(chore) - move some webpack deps to devDependencies
  package.json
Due: prettier --write

(feat) - hide headers on small devtools panel
  src/panel/events/Headers.tsx
Due: prettier --write, eslint

(feat) - headers for devtools (#42)
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
  src/panel/events/Headers.tsx
  src/panel/events/constants.ts
Due: prettier --write, eslint

(chore) - move some webpack deps to devDependencies (#44)
  package.json
Due: prettier --write

(chore) - seperate the exchange from
  package.json
Due: prettier --write

(fix) - enable minification for the chrome plugin build, this removes uglifyJS in favor of the actively maintained terser
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

(chore) - correct links (#43)
  CONTRIBUTING.md
  README.md
Due: prettier --write
