Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

Set version, fix console errors
  package.json
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/Tree.tsx
Due: prettier --write, eslint

Fix prettier
  README.md
Due: prettier --write

Update snapshot
  src/panel/__image_snapshots__/Disconnected - basic-snap.png
Due: none

Update gif
  assets/preview.gif
Due: none

Minor runtime fixes
  src/panel/context/Timeline.tsx
  src/panel/pages/request/components/Query.tsx
Due: prettier --write, eslint

Update descriptions
  package.json
  src/manifest.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

V1.0.0 changelog
  CHANGELOG.md
Due: prettier --write

V1.0.0 changelog (amend with fixed issues)
  CHANGELOG.md
Due: prettier --write

Require visual regression for release
  .circleci/config.yml
Due: none

Update permissions and trim runtime error
  src/background/background.ts
  src/manifest.json
Due: prettier --write, eslint

V1.0.1 & changelog
  CHANGELOG.md
  package.json
Due: prettier --write

Remove action script and load content script on panel load
  src/background/background.ts
  src/content_script/index.ts
  src/definitions.d.ts
  src/devtools/devtools.ts
  src/manifest.json
Due: prettier --write, eslint

Add cross origin bugfixes
  .eslintignore
  src/background/background.ts
  src/content_script/index.ts
  src/devtools/devtools.html
  src/manifest.json
  src/panel/panel.html
  src/util/debug.ts
  src/util/index.ts
Due: prettier --write, eslint

Add origin to message
  src/content_script/index.ts
Due: prettier --write, eslint

V1.0.2 & changelog
  CHANGELOG.md
Due: prettier --write

V1.0.2
  package.json
Due: prettier --write

Update getFixtures call
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Move dependencies around
  package.json
  yarn.lock
Due: prettier --write

Webpack changes
  babel.config.js
  package.json
  src/electron/main.ts
  src/extension/background.ts
  src/extension/content_script.ts
  src/extension/devtools.html
  src/extension/devtools.ts
  src/extension/manifest.json
  src/panel/codemirror.d.ts
  src/panel/definitions.d.ts
  src/panel/styled-components.d.ts
  src/util/EventTarget.ts
  src/util/index.ts
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
  webpack/webpack.shared.config.js
  yarn.lock
Due: prettier --write, eslint

Start command
  package.json
Due: prettier --write

Remove unused code for connection
  package.json
  src/electron/main.ts
  src/panel/context/Devtools.tsx
  src/panel/definitions.d.ts
  src/panel/util/Connection.ts
  src/panel/util/index.ts
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
  webpack/webpack.shared.config.js
  yarn.lock
Due: prettier --write, eslint

Update tests
  package.json
  src/electron/main.ts
  src/panel/App.test.tsx
  src/panel/App.tsx
  src/panel/context/Devtools.test.tsx
  src/panel/context/Devtools.tsx
  src/panel/panel.html
  src/panel/util/Connection.ts
  src/setupTests.ts
  src/types/panel.ts
  webpack/webpack.extension.config.js
Due: prettier --write, eslint

Add electron to artifacts
  .circleci/config.yml
Due: none

Update bundle command
  .circleci/config.yml
  package.json
Due: prettier --write

Replace urql import with core import
  src/panel/context/Explorer/ast/index.ts
Due: prettier --write, eslint

Update scripts
  .circleci/config.yml
  package.json
Due: prettier --write

Replace urql import with core import
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Explorer/ast/variables.ts
  src/panel/pages/events/Timeline.tsx
Due: prettier --write, eslint

Update cosmos for build env
  cosmos.override.js
  package.json
Due: prettier --write

--amend
  package.json
Due: prettier --write

Update contributing guide
  CONTRIBUTING.md
Due: prettier --write

Update to node 14 & add docker-compose script
  .nvmrc
  docker-compose.yml
  yarn.lock
Due: none

Update circleci node version
  .circleci/config.yml
Due: none

Add appendPopulateDirective
  src/panel/context/schema-transforms.test.tsx
  src/panel/context/schema-transforms.tsx
  yarn.lock
Due: prettier --write, eslint

Apply populate directive to incoming schema
  src/panel/context/Request.test.tsx
  src/panel/context/Request.tsx
  src/panel/context/schema-transforms.test.tsx
  src/panel/context/schema-transforms.tsx
  src/panel/pages/request/Request.fixture.tsx
Due: prettier --write, eslint

Move over exchange clarification from debugging PR
  README.md
Due: prettier --write

Fix overflow rules on elements
  src/panel/pages/events/Timeline.tsx
Due: prettier --write, eslint

Increase relative container height to grow to children
  src/panel/pages/events/Timeline.tsx
Due: prettier --write, eslint

Fix scrollbar color on firefox
  src/panel/theme.ts
Due: prettier --write, eslint

Version 1.0.3
  CHANGELOG.md
  package.json
  yarn.lock
Due: prettier --write
