Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

Add fixture for request page
  babel.config.js
  cosmos.config.json
  cosmos.override.js
  src/panel/cosmos.decorator.tsx
  src/panel/pages/request/Request.fixture.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/index.ts
Due: prettier --write, eslint

Add fixture for events page
  src/panel/pages/events/Events.fixture.tsx
Due: prettier --write, eslint

Move events sub-components to folder
  src/panel/pages/events/Events.tsx
  src/panel/pages/events/components/EventCard.spec.tsx
  src/panel/pages/events/components/EventCard.tsx
  src/panel/pages/events/components/EventPane.tsx
  src/panel/pages/events/components/Filters.tsx
  src/panel/pages/events/components/Headers.tsx
  src/panel/pages/events/components/index.ts
  src/panel/pages/events/constants.ts
Due: prettier --write, eslint

Fix prop drilling (wip)
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/index.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/ListItem.tsx
  src/panel/pages/explorer/NodeInfoPane.tsx
  src/panel/pages/explorer/Tree.tsx
Due: prettier --write, eslint

Use context + add fixture
  src/panel/context/Devtools.tsx
  src/panel/context/Explorer/index.tsx
  src/panel/context/index.ts
  src/panel/pages/explorer/Explorer.fixture.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/Highlight.tsx
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/explorer/components/Tree.tsx
  src/panel/pages/explorer/components/Value.tsx
  src/panel/pages/explorer/components/index.ts
Due: prettier --write, eslint

Fix conditional type
  src/panel/pages/explorer/components/ListItem.tsx
Due: prettier --write, eslint

Add value fixtures
  src/panel/pages/explorer/Explorer.fixture.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/explorer/components/Value.fixture.tsx
  src/panel/pages/explorer/components/Value.tsx
  src/panel/pages/explorer/hooks/index.ts
  src/panel/pages/explorer/hooks/useFlash.ts
Due: prettier --write, eslint

Update arguments
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/Value.tsx
Due: prettier --write, eslint

Fix types
  src/panel/App.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/request/Request.fixture.tsx
Due: prettier --write, eslint

Remove console logs
  cosmos.override.js
  src/panel/pages/explorer/components/ListItem.tsx
Due: prettier --write, eslint

Remove highlight file
  src/panel/pages/explorer/components/Highlight.tsx
Due: prettier --write, eslint

Rebuild lock file + remove unused deps
  package.json
  yarn.lock
Due: prettier --write

Remove unused export
  src/panel/pages/explorer/components/index.ts
Due: prettier --write, eslint

update tests
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/pages/events/components/EventCard.spec.tsx
  src/panel/pages/events/components/__snapshots__/EventCard.spec.tsx.snap
Due: prettier --write, eslint

Add visual regression
  package.json
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2FNavigation.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fdisconnected%2FDisconnected.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fevents%2FEvents.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fevents%2FEvents.fixture.tsx%22%2C%22name%22%3A%22empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2FExplorer.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2FExplorer.fixture.tsx%22%2C%22name%22%3A%22updating%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20colllapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22null%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20collapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22string%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22error%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22fetching%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22response%22%7D-snap.png
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

Add visual regression to CI
  .circleci/config.yml
  .env
Due: none

Add dotenv config
  .circleci/config.yml
  .env
  jest.config.js
  package.json
  yarn.lock
Due: prettier --write

Temporarily ignore cosmos files - https://github.com/react-cosmos/react-cosmos/issues/1166
  package.json
  tsconfig.json
Due: prettier --write

Add puppeteer docker image for vr
  .circleci/config.yml
Due: none

Add puppeteer cleanup
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Use circleci node image :/
  .circleci/config.yml
Due: none

Store build artifacts
  .circleci/config.yml
Due: none

Try using delay
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Try circleci docker env
  .circleci/config.yml
Due: none

Remove navigation snapshot
  .circleci/config.yml
  src/panel/Navigation.fixture.tsx
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2FNavigation.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Add fixture for node info pane
  .gitignore
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20hit%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20miss%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20partial%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20args%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20children%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20value%20%28object%29%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20value%20%28string%29%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20colllapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22null%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20collapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22string%22%7D-snap.png
  src/panel/context/Explorer/ast/index.ts
  src/panel/cosmos.decorator.tsx
  src/panel/pages/explorer/components/NodeInfoPane.fixture.tsx
Due: prettier --write, eslint

Wait for dom content loaded
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Add wait for load
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Hack my way round CI issues
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Add another hacky fix
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Freeze lockfile
  .circleci/config.yml
Due: none

hacky fix 3
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Wait for fonts
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Use docker image that follows puppeteer instructions
  .circleci/config.yml
Due: none

Remove font render hinting
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Use docker for regression in dev
  .circleci/config.yml
  docker-compose.yml
  package.json
  regression.sh
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fdisconnected%2FDisconnected.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fevents%2FEvents.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fevents%2FEvents.fixture.tsx%22%2C%22name%22%3A%22empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2FExplorer.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2FExplorer.fixture.tsx%22%2C%22name%22%3A%22updating%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20hit%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20miss%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22cache%20partial%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20args%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20children%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20value%20%28object%29%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22with%20value%20%28string%29%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20colllapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22array%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22null%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20collapsed%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20empty%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22object%20-%20expanded%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FValue.fixture.tsx%22%2C%22name%22%3A%22string%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22basic%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22error%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22fetching%22%7D-snap.png
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Frequest%2FRequest.fixture.tsx%22%2C%22name%22%3A%22response%22%7D-snap.png
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Get logs working in CI
  .circleci/config.yml
  docker-compose.yml
Due: none

Wait for load event
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Fix types (temp
  src/panel/context/Explorer/ast/index.ts
  src/panel/pages/explorer/components/NodeInfoPane.fixture.tsx
Due: prettier --write, eslint

Remove null condition from getFieldArguments
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/variables.ts
Due: prettier --write, eslint
