Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

First pass at adding Light mode styles and theme awareness
  src/panel/App.tsx
  src/panel/theme.ts
  src/panel/util/EnvUtils.ts
Due: prettier --write, eslint

More unit testing
  src/panel/App.test.tsx
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/theme.ts
  src/setupTests.ts
Due: prettier --write, eslint

Streamline the tests slightly
  src/panel/App.test.tsx
Due: prettier --write, eslint

Expect `chrome` to be available everywhere
  src/panel/util/EnvUtils.ts
Due: prettier --write, eslint

Support Electron theming in a backwards-compatible way
  src/panel/util/EnvUtils.ts
Due: prettier --write, eslint

Simplify to remove backwards compat logic
  src/panel/util/EnvUtils.ts
Due: prettier --write, eslint

Add pane titles to Timeline events, closes #239
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Update image snapshots
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
Due: none

Version v2.4.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update the changelog to use the 'v' prefix in the tag
  CHANGELOG.md
Due: prettier --write

Add a note in the README about Android port forwarding
  README.md
Due: prettier --write

Simplify the note
  README.md
Due: prettier --write

add query description in Schema.fixture
  src/panel/pages/request/components/Schema.fixture.tsx
Due: prettier --write, eslint

separate argument vs field level description
  src/panel/pages/request/components/Fields.tsx
Due: prettier --write, eslint

Update Schema.tsx
  src/panel/pages/request/components/Schema.tsx
Due: prettier --write, eslint

Add snapshot
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/pages/request/components/Schema.tsx
Due: prettier --write, eslint

Add snapshotting for the schema component (#322)
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/pages/request/components/Schema.tsx
Due: prettier --write, eslint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
Due: prettier --write

Replace 'operationName' attr with 'kind'
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/pages/events/Timeline.fixture.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineRow.fixture.tsx
  src/panel/pages/events/components/TimelineRow.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
Due: prettier --write, eslint

Fix errors in CI
  .github/ISSUE_TEMPLATE/bug_report.md
  package.json
  yarn.lock
Due: prettier --write

Update for version 2.4.1
  CHANGELOG.md
  package.json
Due: prettier --write

Explicitly set viewport height for firefox
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

prepare for 2.4.2
  CHANGELOG.md
  package.json
Due: prettier --write

Add native bug report template
  .github/ISSUE_TEMPLATE/bug_report_native.md
Due: prettier --write

Update bug report labels
  .github/ISSUE_TEMPLATE/bug_report_native.md
Due: prettier --write

Update default bug report to use browser extension specific report
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_extension.md
Due: prettier --write

Prettify standalone bug report template
  .github/ISSUE_TEMPLATE/bug_report_standalone.md
Due: prettier --write

Create feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --write

Add stringification of default input arguments
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
Due: prettier --write, eslint

Default to watch mode for visual regression
  DEVELOPMENT.md
  package.json
Due: prettier --write

Prepare for v2.4.3
  CHANGELOG.md
  package.json
Due: prettier --write

Add Copy feature
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Settings.tsx
Due: prettier --write, eslint

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: prettier --write

fix: prettier
  DEVELOPMENT.md
Due: prettier --write

Restructure dev docs + add RN app link (#317)
  DEVELOPMENT.md
Due: prettier --write

fix: Add new issue templates for electron and extension apps
  src/panel/pages/error/ErrorBoundary.tsx
Due: prettier --write, eslint

fix: remove the table and add labels params
  src/panel/pages/error/ErrorBoundary.tsx
Due: prettier --write, eslint

Adding snapshots for diffs
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
