Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update visual-regression.test.ts
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Decrease threshold and rebuild lock file
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/TimelinePane - event-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-snap.png
Due: none

Fix crash on undefined argument value.
  .gitignore
  src/panel/pages/explorer/components/Arguments.spec.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/__snapshots__/Arguments.spec.tsx.snap
Due: prettier --write, eslint

Match back to the original code style.
  src/panel/pages/explorer/components/Arguments.tsx
Due: prettier --write, eslint

Add usage instructions and redirect to the exchange docs
  README.md
Due: prettier --write

Use browser colors for logos
  README.md
Due: prettier --write

Run prettier
  src/panel/pages/explorer/components/Arguments.spec.tsx
  src/panel/pages/explorer/components/Arguments.tsx
Due: prettier --write, eslint

Use handshaking + flatten messaging to a single bus
  package.json
  src/extension/background.ts
  src/extension/content_script.ts
  src/panel/context/Devtools.test.tsx
  src/panel/context/Devtools.tsx
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Explorer/index.tsx
  src/panel/context/Request.test.tsx
  src/panel/context/Request.tsx
  src/panel/context/Timeline.tsx
  src/panel/cosmos.decorator.tsx
  src/panel/definitions.d.ts
  src/panel/pages/explorer/Explorer.fixture.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/types.ts
  src/panel/util/Connection.ts
  src/setupTests.ts
  src/types/connections.ts
  src/types/index.ts
  src/types/panel.ts
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write, eslint

Update package.json dependencies required for runtime usage
  docker-compose.yml
  package.json
  regression.sh
Due: prettier --write

Remove spec files
  src/panel/components/Pane.test.tsx
  src/panel/components/Tabs.test.tsx
  src/panel/components/__snapshots__/Pane.test.tsx.snap
  src/panel/components/__snapshots__/Tabs.test.tsx.snap
Due: prettier --write, eslint

Setup npmignore to only include source files + dist
  .npmignore
  webpack/webpack.electron.config.js
Due: none

Add run script and codesandbox
  .codesandbox/ci.json
  package.json
  scripts/cli.js
Due: prettier --write

Hide electron warning
  src/electron/main.ts
Due: prettier --write, eslint

Fix crash on undefined argument value. (#180)
  .gitignore
  src/panel/pages/explorer/components/Arguments.spec.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/__snapshots__/Arguments.spec.tsx.snap
Due: prettier --write, eslint

Add npm publish script
  .circleci/config.yml
  package.json
Due: prettier --write

Trigger alpha deploy (temp)
  .circleci/config.yml
Due: none

Add release config
  .circleci/config.yml
Due: none

Use babel to transpile optional chaining
  babel.config.js
  package.json
  yarn.lock
Due: prettier --write

Add native usage instruction
  README.md
Due: prettier --write

Forward initial message from devtools on connection establish. Update content script to reflect new data types
  src/extension/background.ts
  src/extension/content_script.ts
Due: prettier --write, eslint

Add content security policy for source maps
  package.json
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write

Use package.json for husky/lint-staged and whitelist js files for eslint
  .eslintignore
  .huskyrc
  .lintstagedrc
Due: none

Move visual regression script
  .circleci/config.yml
  package.json
  scripts/regression.sh
Due: prettier --write

Use babel plugin to load svg assets
  babel.config.js
  package.json
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write

Update babel dependencies
  package.json
  yarn.lock
Due: prettier --write

Remove instances of unsafe eval
  package.json
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write

Explicitly specify targets
  babel.config.js
  package.json
Due: prettier --write

Avoid tsc transpilation
  tsconfig.json
Due: prettier --write

Update required version
  src/panel/context/Devtools.tsx
Due: prettier --write, eslint

Update contributing docs
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  package.json
Due: prettier --write

Add support for node 10
  babel.config.js
  package.json
Due: prettier --write

Don't open devtools on electron start
  src/electron/main.ts
Due: prettier --write, eslint

Add snapshot for Arguments component
  src/panel/pages/explorer/components/Arguments.fixture.tsx
  src/panel/pages/explorer/components/Arguments.tsx
Due: prettier --write, eslint

Remove test in favor of fixture
  src/panel/pages/explorer/components/Arguments.spec.tsx
  src/panel/pages/explorer/components/__snapshots__/Arguments.spec.tsx.snap
Due: prettier --write, eslint

Add dependabot config
  .dependabot/config.yml
Due: none

Add renovate.json
  renovate.json
Due: prettier --write

Add renovate config
  .dependabot/config.yml
  .renovaterc.json
Due: prettier --write

Schedule weekly
  .renovaterc.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
