Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Last few deps
  package.json
  yarn.lock
Due: prettier --write

Rebuild lockfile
  yarn.lock
Due: none

Remove unused deps (#222)
  package.json
  src/panel/pages/request/Request.tsx
  yarn.lock
Due: prettier --write, eslint

Improve code contrast with border
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-snap.png
  src/panel/__image_snapshots__/Request - error-snap.png
  src/panel/__image_snapshots__/Request - response-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-snap.png
Due: none

Improve code contrast with border (#224)
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-snap.png
  src/panel/__image_snapshots__/Request - error-snap.png
  src/panel/__image_snapshots__/Request - response-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-snap.png
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Move types outside of root
  src/panel/types/codemirror.d.ts
  src/panel/types/styled-components.d.ts
Due: prettier --write, eslint

Move navigation out of root directory
  src/panel/App.tsx
  src/panel/components/Navigation.fixture.tsx
  src/panel/components/Navigation.tsx
  src/panel/components/index.ts
Due: prettier --write, eslint

Update jest
  package.json
  yarn.lock
Due: prettier --write

Update dependency electron to ^8.3.0
  package.json
  yarn.lock
Due: prettier --write

Update devDependencies (non-major)
  package.json
  yarn.lock
Due: prettier --write

Update dependency eslint to v7
  package.json
  yarn.lock
Due: prettier --write

Fix mismatch fixture
  src/panel/pages/mismatch/Mismatch.fixture.tsx
  src/panel/pages/mismatch/Mismatch.tsx
Due: prettier --write, eslint

Update mismatch snapshot
  src/panel/__image_snapshots__/Mismatch - basic-snap.png
Due: none

Update puppeteer 3
  .circleci/config.yml
  docker-compose.yml
Due: none

Add snapshot for empty timeline view
  src/panel/__image_snapshots__/Timeline - empty-landscape-snap.png
  src/panel/__image_snapshots__/Timeline - empty-portrait-snap.png
  src/panel/pages/events/Timeline.fixture.tsx
  src/panel/pages/events/Timeline.tsx
Due: prettier --write, eslint

Update app snapshot
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

Fix refs not being forwarded and add Timeline test
  jest.config.js
  package.json
  src/panel/__mocks__/svg.tsx
  src/panel/pages/events/Timeline.test.tsx
  yarn.lock
Due: prettier --write, eslint

Tidy up snapshots
  src/panel/__image_snapshots__/Timeline - empty-landscape-snap.png
  src/panel/__image_snapshots__/Timeline - empty-portrait-snap.png
  src/panel/pages/events/Timeline.fixture.tsx
  src/panel/pages/events/Timeline.test.tsx
  src/panel/pages/events/__snapshots__/Timeline.test.tsx.snap
Due: prettier --write, eslint

Remove timeline test
  src/panel/pages/events/Timeline.test.tsx
  src/panel/pages/events/__snapshots__/Timeline.test.tsx.snap
Due: prettier --write, eslint

Version 2.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

Fix firefox deployment script (bash > sh)
  .circleci/config.yml
Due: none

Update dependency copy-webpack-plugin to v6
  package.json
  yarn.lock
Due: prettier --write

Prettier ci config
  .circleci/config.yml
Due: none

Update dependency ts-jest to v26
  package.json
  yarn.lock
Due: prettier --write

Colocate single use function
  src/panel/context/Request.tsx
  src/panel/context/schema-transforms.test.tsx
  src/panel/context/schema-transforms.tsx
Due: prettier --write, eslint

Jump to latest execution when event is changed
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/index.ts
Due: prettier --write, eslint

Make buttons more obvious
  src/panel/pages/events/components/TimelineSourceIcon.tsx
Due: prettier --write, eslint

Fix linting error
  src/panel/pages/request/Request.fixture.tsx
Due: prettier --write, eslint

Add snapshots for tsi
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-portrait-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-portrait-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-portrait-snap.png
Due: none

Jump to event when selecting a timeline source (#235)
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-portrait-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-portrait-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-portrait-snap.png
  src/panel/context/Request.tsx
  src/panel/context/schema-transforms.test.tsx
  src/panel/context/schema-transforms.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/TimelineSourceIcon.tsx
  src/panel/pages/events/components/index.ts
  src/panel/pages/request/Request.fixture.tsx
Due: prettier --write, eslint

Add error handler
  cosmos.override.js
  src/panel/App.tsx
  src/panel/pages/error/ErrorBoundary.fixture.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/error/index.ts
  src/panel/pages/index.ts
  src/panel/util/ErrorOverlay.ts
  src/panel/util/index.ts
  src/panel/util/openExternalUrl.ts
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-portrait-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-portrait-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

Update webpack config with new options object
  webpack.config.js
  webpack/webpack.extension.config.js
Due: none

Fix hostname changing in snapshots
  src/panel/pages/error/ErrorBoundary.fixture.tsx
Due: prettier --write, eslint

Update snapshot
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-portrait-snap.png
Due: none

Add error handler (#237)
  cosmos.override.js
  src/panel/App.tsx
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-portrait-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-portrait-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/pages/error/ErrorBoundary.fixture.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/error/index.ts
  src/panel/pages/index.ts
  src/panel/util/ErrorOverlay.ts
  src/panel/util/index.ts
  src/panel/util/openExternalUrl.ts
Due: prettier --write, eslint

Update to stable cosmos release
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
