Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update dependency prism-react-renderer to ^1.1.0
  package.json
  yarn.lock
Due: prettier --write

Update dependency terser-webpack-plugin to ^3.0.1
  package.json
  yarn.lock
Due: prettier --write

Send message on WS disconnect
  src/electron/main.ts
Due: prettier --write, eslint

Group minor and patch updates
  .renovaterc.json
Due: prettier --write

Update devDependencies (non-major)
  package.json
  yarn.lock
Due: prettier --write

Update lockfile weekly
  .renovaterc.json
Due: prettier --write

Add link to docs for integrations
  README.md
Due: prettier --write

Fix nanoid and missing types
  package.json
  src/panel/context/Explorer/ast/index.ts
  src/panel/definitions.d.ts
  yarn.lock
Due: prettier --write, eslint

Version 2.0.0
  .github_changelog_generator
  CHANGELOG.md
Due: prettier --write

Fix nanoid mock
  .circleci/config.yml
  src/panel/context/Explorer/ast/index.test.tsx
Due: prettier --write, eslint

Update firefox publish dir
  .circleci/config.yml
Due: none

Update dependency ws to ^7.3.0
  package.json
  yarn.lock
Due: prettier --write

Lock file maintenance
  yarn.lock
Due: none

Update lockfile and reduce update spam
  .renovaterc.json
  yarn.lock
Due: prettier --write

Create snapshot with cosmos alpha
  package.json
  src/panel/__image_snapshots__/Arguments - basic-snap.png
  yarn.lock
Due: prettier --write

Add cosmos export to build steps
  .circleci/config.yml
Due: none

Update lockfile and reduce update spam (#221)
  .renovaterc.json
  yarn.lock
Due: prettier --write

Add env variables for host and port cosmos
  .circleci/config.yml
  .env
  docker-compose.yml
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Try chmod for node_modules
  .circleci/config.yml
Due: none

Try chmod for cosmos-export
  .circleci/config.yml
Due: none

Set working dir to /tmp
  .circleci/config.yml
Due: none

use workspace for persistence
  .circleci/config.yml
Due: none

Revoke workspace (for now)
  .circleci/config.yml
Due: none

Add run with cosmos build in parallel
  .circleci/config.yml
Due: none

Opt for build and deploy in parallel
  .circleci/config.yml
Due: none

Remove chmod
  .circleci/config.yml
Due: none

Remove cosmos cache
  .circleci/config.yml
Due: none

Try ramdisk
  .circleci/config.yml
Due: none

Ramdisk everything
  .circleci/config.yml
Due: none

Use root for build process
  .circleci/config.yml
Due: none

Try exclusively using root
  .circleci/config.yml
Due: none

Wait on for visual regression
  .circleci/config.yml
Due: none

Use alpine image
  .circleci/config.yml
Due: none

Parallell visual regression (#142)
  .circleci/config.yml
  .env
  docker-compose.yml
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Remove csstype and @babel/cli
  package.json
  yarn.lock
Due: prettier --write

Remove wonka
  package.json
  yarn.lock
Due: prettier --write

Remove url-loader
  package.json
  yarn.lock
Due: prettier --write

Remove react-codemirror2
  package.json
  src/panel/pages/request/Request.tsx
  yarn.lock
Due: prettier --write, eslint

Remove prismjs
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
