Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Update devDependencies (non-major)
  package.json
  yarn.lock
Due: prettier --write

Better differentiate browser and native instructions
  README.md
Due: prettier --write

Lock file maintenance
  yarn.lock
Due: none

Update dependency @types/jest to v26
  package.json
  yarn.lock
Due: prettier --write

Update dependency electron to ^9.0.4
  package.json
  yarn.lock
Due: prettier --write

Update dependency puppeteer to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v15
  package.json
  yarn.lock
Due: prettier --write

Use master for build status logo
  README.md
Due: prettier --write

Remove button element
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

fix weird css on focus
  src/panel/pages/request/components/Collapsible.tsx
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

add all_frames prop to manifest to support urql instances inside iframes
  src/extension/manifest.json
Due: prettier --write

remove the Chrome-specific search decoration styling to match Firefox
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

reset TimelinePane - source (without variables)-portrait-snap.png snapshot
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-portrait-snap.png
Due: none

snapshot
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-portrait-snap.png
Due: none

Update test
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

apply hue
  src/panel/theme.ts
Due: prettier --write, eslint

snapshots
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-portrait-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-portrait-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-portrait-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-portrait-snap.png
Due: none

Fix: Weird focus states on Chrome (#275)
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-portrait-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-portrait-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-portrait-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-portrait-snap.png
  src/panel/pages/request/components/Collapsible.tsx
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

Version v2.2.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update eslint to v3
  package.json
  yarn.lock
Due: prettier --write

Add highlight to selected event
  src/panel/pages/events/components/TimelineDuration.tsx
  src/panel/pages/events/components/TimelineRow.tsx
Due: prettier --write, eslint

Fix typescript errors
  src/panel/App.test.tsx
  src/panel/components/Pane.tsx
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Stack.fixture.tsx
  tsconfig.json
Due: prettier --write, eslint

Add type check to CI
  .circleci/config.yml
  package.json
Due: prettier --write

Remove truncation on the explorer view
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Run typescript in CI
  .circleci/config.yml
Due: none

Reduce number of network reqs in visual regression
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Handle empty data prop in Explorer
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (collapsed)-portrait-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-portrait-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (collapsed)-portrait-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-portrait-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (collapsed)-portrait-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-portrait-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-portrait-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-portrait-snap.png
  src/panel/components/CodeHighlight.fixture.tsx
Due: prettier --write, eslint

Upgrade typescript-eslint and fix new errors/warnings
  package.json
  src/panel/App.test.tsx
  src/panel/App.tsx
  src/panel/context/Devtools.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/variables.ts
  src/panel/context/Request.tsx
  src/panel/context/Timeline.tsx
  src/panel/hooks/useOrientationWatcher.ts
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineRow.test.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/hooks/useFlash.ts
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/util/Connection.ts
  src/panel/util/ErrorOverlay.ts
  src/panel/util/openExternalUrl.ts
  src/util/EventTarget.ts
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
