Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Revert remove electron config
  webpack/webpack.electron.config.js
Due: none

Fix tooltip position
  src/panel/pages/events/components/TimelineTooltip.tsx
Due: prettier --write, eslint

Refactor cosmos theme toggler to use built in control panel
  package.json
  src/panel/cosmos.decorator.tsx
  yarn.lock
Due: prettier --write, eslint

Set cosmos default theme to dark and update snapshots
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Toolbar - basic-landscape-snap.png
  src/panel/cosmos.decorator.tsx
Due: prettier --write, eslint

Added dedicated zoom in/out buttons to timeline toolbar
  src/panel/__image_snapshots__/Settings - settings-landscape-snap.png
  src/panel/context/Timeline.tsx
  src/panel/pages/events/components/Settings.tsx
Due: prettier --write, eslint

Fix outdated node version for latest cosmos version
  .codesandbox/ci.json
Due: prettier --write

Keep saturation/hue on lightness variants
  src/panel/pages/events/components/Settings.tsx
  src/panel/pages/events/components/Tick.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Dark mode - tooltip and background colors
  src/panel/components/CodeHighlight.tsx
  src/panel/components/Pane.tsx
  src/panel/pages/events/components/TimelineTooltip.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Update docker-compose version
  .circleci/config.yml
Due: none

Skip puppeteer install
  .circleci/config.yml
  docker-compose.yml
Due: none

Set chrome path for buldkite image
  .circleci/config.yml
  docker-compose.yml
Due: none

Pretty
  .circleci/config.yml
  docker-compose.yml
Due: none

Remove -u from visual-regression script
  package.json
Due: prettier --write

Update snapshots
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Navigation - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Settings - filter-landscape-snap.png
  src/panel/__image_snapshots__/Settings - settings-landscape-snap.png
  src/panel/__image_snapshots__/Tick - basic-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - basic-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - mutation (with group)-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - mutation error-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - mutation update-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - network error-landscape-snap.png
  src/panel/__image_snapshots__/TimelineRow - network success-landscape-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-landscape-snap.png
  src/panel/__image_snapshots__/Toolbar - basic-landscape-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

fix type error and update snapshots
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Fix active tab alignment
  src/panel/components/Navigation.tsx
Due: prettier --write, eslint

Remove pane header from scroll area in timeline view
  src/panel/components/Pane.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Use Pane.Body instead of ScrollArea
  src/panel/components/Pane.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Fix schema scroll area
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/TopBar.tsx
Due: prettier --write, eslint

Update codemirror hint colors
  src/panel/theme.ts
Due: prettier --write, eslint

Update snapshot
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

Version 2.6.0
  CHANGELOG.md
  package.json
Due: prettier --write

Add files via upload
  assets/preview.gif
Due: none

Update README.md
  README.md
Due: prettier --write

chore: Update electron to support M1
  package.json
  src/electron/main.ts
  yarn.lock
Due: prettier --write, eslint

chore: Fix prettier linting
  src/electron/main.ts
Due: prettier --write, eslint

chore: Update Electron to support Apple Silicon (M1) (#376)
  package.json
  src/electron/main.ts
  yarn.lock
Due: prettier --write, eslint

fix: Allows urql-devtools to launch via Windows PowerShell
  scripts/cli.js
Due: none

Release 2.6.1
  CHANGELOG.md
  package.json
Due: prettier --write

Release 2.6.1 (#379)
  CHANGELOG.md
  package.json
Due: prettier --write

chore: Run tests on GitHub Actions
  .github/workflows/ci.yml
Due: none

Pass default host & port for cosmos
  .circleci/config.yml
  .github/workflows/ci.yml
  package.json
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

Temporary run on push on this branch
  .github/workflows/ci.yml
Due: none

Use tmate for debugging
  .github/workflows/ci.yml
Due: none

Add an empty prettier config to run prettier automatically on VSCode
  .github/workflows/ci.yml
  .prettierrc.js
Due: none

Remove temp workaround for running on push
  .github/workflows/ci.yml
Due: none

Run visual regression tests on a mac runner
  .github/workflows/ci.yml
Due: none

Version v2.6.2
  CHANGELOG.md
  package.json
Due: prettier --write

add explicit link to development.md
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
