Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

add installation instructions
  DEVELOPMENT.md
Due: prettier --write

Update DEVELOPMENT.md
  DEVELOPMENT.md
Due: prettier --write

(chore) - document setup process (#383)
  DEVELOPMENT.md
  README.md
Due: prettier --write

add entry about producing final build
  DEVELOPMENT.md
Due: prettier --write

add building for specific tag
  DEVELOPMENT.md
Due: prettier --write

add entry about producing final build (#384)
  DEVELOPMENT.md
Due: prettier --write

add uploading source code instructions
  DEVELOPMENT.md
Due: prettier --write

add uploading source code instructions (#385)
  DEVELOPMENT.md
Due: prettier --write

readme: browser restart after installing devtool
  README.md
Due: prettier --write

Prepare for version 2.6.3
  CHANGELOG.md
  package.json
Due: prettier --write

Fix prettier errors
  CHANGELOG.md
  scripts/cli.js
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Show event duration in the side panel
  src/panel/context/Timeline.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineRow.tsx
Due: prettier --write, eslint

Remove un-needed type
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Remove the correct type
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Fix very important prettier
  README.md
Due: prettier --write

Move cosmos port to 5001
  .circleci/config.yml
  .env
  cosmos.config.json
  docker-compose.yml
  scripts/regression.sh
Due: prettier --write

Fix prettier error
  README.md
Due: prettier --write

Update snapshots
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
Due: none

chore: updated maintenance badge
  README.md
Due: prettier --write

re-arrange deps to reflect dev vs prod
  package.json
Due: prettier --write

update babel
  package.json
  yarn.lock
Due: prettier --write

remove graphql-tag
  package.json
  src/panel/components/CodeHighlight.fixture.tsx
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Request.tsx
  src/panel/pages/events/Timeline.fixture.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
  yarn.lock
Due: prettier --write, eslint

update production dependencies
  package.json
  yarn.lock
Due: prettier --write

cleanup extra files
  .codesandbox/ci.json
  .nvmrc
  .renovaterc.json
  README.md
Due: prettier --write

add basic ci flow
  .github/workflows/ci.yml
Due: none

add visual regression
  .github/workflows/ci.yml
Due: none

fix lint error
  .eslintignore
  package.json
  src/panel/context/Explorer/ast/variables.ts
Due: prettier --write, eslint

upgrade typescript
  package.json
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/variables.ts
  src/panel/context/Request.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Search.tsx
  yarn.lock
Due: prettier --write, eslint

fix prettier
  .prettierignore
Due: none

enzyme react 17
  package.json
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint

update license
  LICENSE
Due: none

ensure circleci works so we can compare
  .circleci/config.yml
Due: none

remove cross-env
  package.json
Due: prettier --write

fix tests
  package.json
  src/panel/context/Request.test.tsx
  src/panel/context/Request.tsx
  src/panel/pages/events/components/Settings.test.tsx
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint

upgrade buildkite/puppeteer
  .circleci/config.yml
Due: none

remove visual regression for now as we need to run that in the background
  .github/workflows/ci.yml
Due: none

reduce tasks that are going on in actions already
  .circleci/config.yml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
