Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

Fix electron require
  .eslintrc
  src/panel/util/Connection.ts
  src/panel/util/openExternalUrl.ts
Due: prettier --write, eslint

Update devDependencies (non-major)
  package.json
  yarn.lock
Due: prettier --write

Remove expensive traversal in React
  package.json
  src/panel/components/CodeHighlight.tsx
  yarn.lock
Due: prettier --write, eslint

Memoize
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Use local mutation in reduce
  src/panel/pages/events/components/TimelineRow.tsx
Due: prettier --write, eslint

Use more local mutation in reduce
  src/panel/pages/events/components/TimelineRow.tsx
Due: prettier --write, eslint

Use more more local mutation in reduce
  src/panel/pages/events/components/TimelineRow.tsx
Due: prettier --write, eslint

Dirty web worker WIP
  src/panel/Prism.ts
  src/panel/components/CodeHighlight.tsx
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
Due: prettier --write, eslint

Clean up
  src/panel/components/CodeHighlight.tsx
  src/panel/prism.ts
  webpack/webpack.extension.config.js
Due: prettier --write, eslint

Add prism to cosmos
  src/panel/cosmos.decorator.tsx
  src/panel/prism.ts
Due: prettier --write, eslint

Restore className forwarding
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Update CodeHighlight.tsx
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Add optimizations
  src/panel/components/CodeHighlight.fixture.tsx
  src/panel/components/CodeHighlight.tsx
  src/panel/definitions.d.ts
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/prism.ts
Due: prettier --write, eslint

Use lang js -> javascript
  src/panel/components/CodeHighlight.fixture.tsx
  src/panel/components/CodeHighlight.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Remove dangerous HTML setting
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Set plain color
  src/panel/theme.ts
Due: prettier --write, eslint

Fix shell code
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/prism.ts
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/pages/error/ErrorBoundary.fixture.tsx
Due: prettier --write, eslint

Prepare for version 2.3.0
  CHANGELOG.md
  package.json
Due: prettier --write

Add type check to dependencies
  .circleci/config.yml
Due: none

Update dependency typescript to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency web-ext to v5
  package.json
  yarn.lock
Due: prettier --write

Update dependency puppeteer to v5
  package.json
  yarn.lock
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: none

Update docker-compose.yml
  docker-compose.yml
Due: none

Fix invariant on schema explorer
  src/panel/pages/request/components/Schema.tsx
Due: prettier --write, eslint

Fix issue with mutated code block
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Prepare for patch release 2.3.1
  CHANGELOG.md
  package.json
Due: prettier --write

Update dependency electron to ^9.3.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency ws to ^7.3.1
  package.json
  yarn.lock
Due: prettier --write

Update dependency @types/jest-image-snapshot to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency css-loader to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency graphql to v15
  package.json
  yarn.lock
Due: prettier --write

Update dependency terser-webpack-plugin to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency webpack-node-externals to v2
  package.json
  yarn.lock
Due: prettier --write

Lock file maintenance
  yarn.lock
Due: none

Update eslint to v4
  package.json
  yarn.lock
Due: prettier --write

Update dependency electron to v10
  package.json
  yarn.lock
Due: prettier --write
