Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Style Copy button
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Add Copy styles and functionality
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Snapshot update
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
Due: none

feat: store last sent request in localstorage
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Settings.tsx
Due: prettier --write, eslint

fix: change usage of storage
  src/panel/context/Request.tsx
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Settings.tsx
Due: prettier --write, eslint

Improve copy functionality
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

Prepare for v.2.5.0
  CHANGELOG.md
  DEVELOPMENT.md
  package.json
Due: prettier --write

fix: tests
  src/panel/context/Request.test.tsx
Due: prettier --write, eslint

Update Request.test.tsx
  src/panel/context/Request.test.tsx
Due: prettier --write, eslint

fix: add unit tests
  src/panel/context/Request.test.tsx
  src/panel/context/Request.tsx
Due: prettier --write, eslint

fix: reset code snippet when try to append a new code
  src/panel/components/CodeHighlight.tsx
  src/panel/pages/events/components/TimelineSourceIcon.tsx
Due: prettier --write, eslint

chore: Update patch and minor versions for packages
  package.json
  yarn.lock
Due: prettier --write

fix: revert electron fix
  src/panel/pages/events/components/TimelineSourceIcon.tsx
Due: prettier --write, eslint

fix: reset code snippet when try to append a new code (#352)
  src/panel/components/CodeHighlight.tsx
Due: prettier --write, eslint

fix lint and change object to any
  package.json
  src/panel/pages/explorer/hooks/useFlash.ts
  yarn.lock
Due: prettier --write, eslint

chore: Latest minor/patch updates and react packages updates
  package.json
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/pages/disconnected/__snapshots__/Disconnected.test.tsx.snap
  src/panel/pages/explorer/hooks/useFlash.ts
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint

Add syntax highlighting for default args in fields
  src/panel/pages/request/components/Fields.tsx
Due: prettier --write, eslint

chore: graphql update
  package.json
  src/panel/context/Request.test.tsx
  yarn.lock
Due: prettier --write, eslint

Update snapshot
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
Due: none

Fixed navigation colour on electron app
  src/panel/components/Navigation.tsx
Due: prettier --write, eslint

Better specificity in logo colouring selector
  src/panel/components/Navigation.tsx
  src/panel/pages/disconnected/Disconnected.tsx
Due: prettier --write, eslint

Makes pane item titles composable rather than via prop
  src/panel/components/Pane.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/request/components/Response.tsx
Due: prettier --write, eslint

fix: csp issue with downgrading react-spring
  cosmos.override.js
  package.json
  src/panel/pages/explorer/hooks/useFlash.ts
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write, eslint

chore: bump node in circle
  .circleci/config.yml
Due: none

fix: remove Maybe type
  src/panel/context/Explorer/ast/variables.ts
Due: prettier --write, eslint

chore: bump puppeteer and netlify node version
  .circleci/config.yml
  .nvmrc
  docker-compose.yml
Due: none

chore: update puppeter version
  .circleci/config.yml
  .codesandbox/ci.json
  docker-compose.yml
Due: prettier --write

fix: revert puppeteer
  .circleci/config.yml
  docker-compose.yml
Due: none

Refactor dark and light theming across app
  src/panel/App.tsx
  src/panel/components/Background.tsx
  src/panel/components/CodeHighlight.fixture.tsx
  src/panel/components/CodeHighlight.tsx
  src/panel/components/IndicatorArrow.tsx
  src/panel/components/Navigation.tsx
  src/panel/components/Pane.tsx
  src/panel/components/Tabs.tsx
  src/panel/components/Toolbar.fixture.tsx
  src/panel/components/Toolbar.tsx
  src/panel/cosmos.decorator.tsx
  src/panel/pages/disconnected/Disconnected.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/Settings.tsx
  src/panel/pages/events/components/Tick.tsx
  src/panel/pages/events/components/TimelineDuration.tsx
  src/panel/pages/events/components/TimelineEvent.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineSourceIcon.tsx
  src/panel/pages/events/components/TimelineTooltip.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/explorer/components/Tree.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Collapsible.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Query.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Search.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/TopBar.tsx
  src/panel/pages/request/components/Type.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Refactor theme values into objects
  src/panel/components/Background.tsx
  src/panel/components/CodeHighlight.fixture.tsx
  src/panel/components/CodeHighlight.tsx
  src/panel/components/IndicatorArrow.tsx
  src/panel/components/Navigation.tsx
  src/panel/components/Pane.tsx
  src/panel/components/Tabs.tsx
  src/panel/components/Toolbar.tsx
  src/panel/cosmos.decorator.tsx
  src/panel/pages/disconnected/Disconnected.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/Settings.tsx
  src/panel/pages/events/components/Tick.tsx
  src/panel/pages/events/components/TimelineDuration.tsx
  src/panel/pages/events/components/TimelineEvent.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineSourceIcon.tsx
  src/panel/pages/events/components/TimelineTooltip.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/explorer/components/Tree.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Collapsible.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Search.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/TopBar.tsx
  src/panel/styled.d.ts
  src/panel/theme.ts
Due: prettier --write, eslint

Fix list item border colour
  src/panel/pages/explorer/components/ListItem.tsx
Due: prettier --write, eslint

Fix light/dark mode test
  src/panel/App.test.tsx
Due: prettier --write, eslint

Update missing colours in CodeHighlight and Fields
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/components/CodeHighlight.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

fix: revert source maps
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
Due: none

chore: add more upgrades
  .eslintrc
  package.json
  yarn.lock
Due: prettier --write

Refactor cosmos theme toggle to use useCallback
  src/panel/cosmos.decorator.tsx
Due: prettier --write, eslint

Remove unused electron webpack config
  webpack/webpack.electron.config.js
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
