Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

spring
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

Revert and just fix key
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

Unify request context state
  src/panel/context/Request.tsx
Due: prettier --write, eslint

Show fetching state to user
  src/panel/request/Query.tsx
  src/panel/request/Response.tsx
Due: prettier --write, eslint

Add disconnected page
  jest.config.js
  package.json
  src/definitions.d.ts
  src/panel/App.test.tsx
  src/panel/App.tsx
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/disconnected/Disconnected.test.tsx
  src/panel/disconnected/Disconnected.tsx
  src/panel/disconnected/__snapshots__/Disconnected.test.tsx.snap
  src/panel/disconnected/index.ts
  src/setupTests.ts
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Fix animation order (#82)
  src/panel/events/EventCard.tsx
  src/panel/events/Events.tsx
Due: prettier --write, eslint

Reduce conditionals
  src/panel/context/Request.tsx
Due: prettier --write, eslint

Bump to v0.0.6
  CHANGELOG.md
  package.json
Due: prettier --write

Keep active on drag
  src/panel/components/Pane.tsx
Due: prettier --write, eslint

Add contributing docs + command
  CONTRIBUTING.md
  package.json
  src/devtools/devtools.ts
Due: prettier --write, eslint

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Add firefox extension to README!
  README.md
Due: prettier --write

Remove unused deps
  package.json
  webpack.config.js
Due: prettier --write

Rebuild lock file
  yarn.lock
Due: none

Add copy unmodified flag
  webpack.config.js
Due: none

Migrate to Prism, fix firefox scrollbars and font sizes
  package.json
  src/panel/components/CodeHighlight.tsx
  src/panel/components/Pane.tsx
  src/panel/components/code/JsonCode.tsx
  src/panel/components/code/QueryCode.tsx
  src/panel/components/code/index.ts
  src/panel/components/index.ts
  src/panel/components/prism-theme.css
  src/panel/events/EventPane.tsx
  src/panel/events/Events.tsx
  src/panel/request/Response.tsx
  yarn.lock
Due: prettier --write, eslint

Add linting step
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

try keys
  .circleci/config.yml
Due: none

try fix console out
  .circleci/config.yml
Due: none

Add deploy
  .circleci/config.yml
Due: none

Add ID
  .circleci/config.yml
Due: none

yolo
  .circleci/config.yml
Due: none

Add ID to manifest
  src/manifest.json
Due: prettier --write

Remove id
  .circleci/config.yml
  src/manifest.json
Due: prettier --write

Bump version
  package.json
Due: prettier --write

Use supported property
  src/manifest.json
Due: prettier --write

Force ID
  .circleci/config.yml
Due: none

Add error handling
  .circleci/config.yml
Due: none

Add check for changelog
  .circleci/config.yml
Due: none

Check changelog
  .circleci/config.yml
Due: none

Version v0.0.8
  CHANGELOG.md
  package.json
Due: prettier --write

Fix missing error message
  .circleci/config.yml
Due: none

Add missing styles (Fix #96)
  src/panel/request/Query.tsx
Due: prettier --write, eslint

Version 0.0.9
  CHANGELOG.md
  package.json
Due: prettier --write

Add ignore for web-ext-artifacts
  .gitignore
Due: none

Use node 13
  .circleci/config.yml
  .nvmrc
  yarn.lock
Due: none

Freeze lockfile in CI
  .circleci/config.yml
Due: none

Update folder structure
  src/panel/App.tsx
  src/panel/pages/disconnected/Disconnected.test.tsx
  src/panel/pages/disconnected/Disconnected.tsx
  src/panel/pages/disconnected/__snapshots__/Disconnected.test.tsx.snap
  src/panel/pages/disconnected/index.ts
  src/panel/pages/events/EventCard.spec.tsx
  src/panel/pages/events/EventCard.tsx
  src/panel/pages/events/EventPane.tsx
  src/panel/pages/events/Events.tsx
  src/panel/pages/events/Filters.tsx
  src/panel/pages/events/Headers.tsx
  src/panel/pages/events/__snapshots__/EventCard.spec.tsx.snap
  src/panel/pages/events/constants.ts
  src/panel/pages/events/index.ts
  src/panel/pages/explorer/Arguments.tsx
  src/panel/pages/explorer/DetailView.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/explorer/Highlight.tsx
  src/panel/pages/explorer/Icons.tsx
  src/panel/pages/explorer/ListItem.tsx
  src/panel/pages/explorer/Tree.tsx
  src/panel/pages/explorer/Value.tsx
  src/panel/pages/explorer/index.ts
  src/panel/pages/index.ts
  src/panel/pages/request/Query.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/Response.tsx
  src/panel/pages/request/index.ts
Due: prettier --write, eslint

Add first fixture
  cosmos.config.json
  package.json
  src/panel/Navigation.fixture.tsx
  src/panel/cosmos.decorator.tsx
  yarn.lock
Due: prettier --write, eslint

Add svg loading + remove old tsconfig
  babel.config.js
  package.json
  src/panel/cosmos.decorator.tsx
  src/panel/pages/disconnected/Disconnected.fixture.tsx
  tsconfig.exchange.json
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
