Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

Prevent error boundary snapshot updating
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/Arguments - basic-portrait-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-portrait-snap.png
  src/panel/pages/error/ErrorBoundary.fixture.tsx
Due: prettier --write, eslint

Add fixtures for the Arguments component (#182)
  package.json
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/Arguments - basic-portrait-snap.png
  src/panel/__image_snapshots__/Arguments - basic-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-portrait-snap.png
  src/panel/pages/error/ErrorBoundary.fixture.tsx
  src/panel/pages/explorer/components/Arguments.fixture.tsx
  src/panel/pages/explorer/components/Arguments.spec.tsx
  src/panel/pages/explorer/components/Arguments.tsx
  src/panel/pages/explorer/components/__snapshots__/Arguments.spec.tsx.snap
  yarn.lock
Due: prettier --write, eslint

only target node with electron main process
  babel.config.js
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
Due: none

Remove unsafe-eval CSP from manifest
  src/extension/manifest.json
Due: prettier --write

Remove unsafe eval code (#242)
  babel.config.js
  src/extension/manifest.json
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
Due: prettier --write

Create storage abstraction
  src/panel/util/storage.test.ts
  src/panel/util/storage.ts
Due: prettier --write, eslint

Remove unused NPM assets
  .npmignore
Due: none

Remove unused NPM assets (#244)
  .npmignore
Due: none

Version 2.1.0
  CHANGELOG.md
  package.json
Due: prettier --write

Update dependency @types/puppeteer to v3
  package.json
  yarn.lock
Due: prettier --write

Update dependency electron to v9
  package.json
  yarn.lock
Due: prettier --write

Update target electron version
  babel.config.js
Due: none

Update devDependencies (non-major)
  package.json
  yarn.lock
Due: prettier --write

Configure babel to strip electron imports
  babel.config.js
  package.json
  src/panel/util/Connection.ts
  src/panel/util/index.ts
  src/panel/util/openExternalUrl.ts
  src/panel/util/storage.ts
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
  yarn.lock
Due: prettier --write, eslint

Brute forcing an analytics to work
  src/panel/App.tsx
  src/panel/context/Telemetry.tsx
  src/panel/panel.html
  src/panel/types/analytics.d.ts
  src/panel/util/analytics.ts
  src/panel/util/storage.ts
Due: prettier --write, eslint

WIP working in both
  src/extension/content_script.ts
  src/extension/manifest.json
  src/panel/App.tsx
  src/panel/context/Telemetry.tsx
  src/panel/context/index.ts
  src/panel/pages/disconnected/Disconnected.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/explorer/Explorer.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/pages/request/Request.tsx
  src/panel/panel.html
  src/panel/types/analytics.d.ts
  src/panel/util/analytics.ts
  src/panel/util/index.ts
Due: prettier --write, eslint

Add client tracking
  src/extension/manifest.json
  src/panel/context/Telemetry.tsx
  src/panel/panel.html
  src/panel/util/storage.ts
Due: prettier --write, eslint

Remove ua
  package.json
  yarn.lock
Due: prettier --write

Update webpack targets
  webpack/webpack.electron.config.js
  webpack/webpack.extension.config.js
Due: none

apply hue
  src/panel/theme.ts
Due: prettier --write, eslint

handle all possible states for fields
  src/panel/context/Explorer/ast/index.ts
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/PaneContent.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Settings.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/Type.tsx
  src/panel/pages/request/components/index.ts
Due: prettier --write, eslint

collapsible root schema
  src/panel/components/IndicatorArrow.tsx
  src/panel/components/index.ts
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/request/components/Fields.fixture.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Stack.tsx
Due: prettier --write, eslint

add fixture for stack
  src/panel/pages/request/components/Fields.fixture.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Stack.fixture.tsx
  src/panel/pages/request/components/Stack.tsx
Due: prettier --write, eslint

working layout
  src/panel/components/Pane.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/PaneContent.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/index.ts
Due: prettier --write, eslint

clean up
  src/panel/context/Explorer/ast/index.ts
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/PaneContent.tsx
  src/panel/pages/request/components/Type.tsx
  src/panel/pages/request/components/index.ts
Due: prettier --write, eslint

start
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

start
  src/panel/pages/request/components/Schema.tsx
Due: prettier --write, eslint

finished search
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

add fixture
  src/panel/pages/request/components/Search.fixture.tsx
Due: prettier --write, eslint

Update UI for root schema
  src/panel/components/IndicatorArrow.tsx
  src/panel/components/index.ts
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/request/components/Fields.fixture.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Stack.tsx
Due: prettier --write, eslint

Add fixtures
  src/panel/pages/request/components/Fields.fixture.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Stack.fixture.tsx
  src/panel/pages/request/components/Stack.tsx
Due: prettier --write, eslint

Add into request pane layout
  src/panel/components/Pane.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/pages/request/Request.tsx
  src/panel/pages/request/components/Fields.tsx
  src/panel/pages/request/components/PaneContent.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/Type.tsx
  src/panel/pages/request/components/index.ts
Due: prettier --write, eslint

Add search component
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Search.fixture.tsx
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

resolve conflicts
  src/panel/pages/request/components/Schema.fixture.tsx
Due: prettier --write, eslint

improve search
  src/panel/pages/request/components/Search.tsx
Due: prettier --write, eslint

Update test
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

add top bar and breadcrumbs
  src/panel/pages/request/components/Collapsible.tsx
  src/panel/pages/request/components/Schema.tsx
  src/panel/pages/request/components/Search.tsx
  src/panel/pages/request/components/Stack.tsx
  src/panel/pages/request/components/TopBar.tsx
Due: prettier --write, eslint

add visual regression snapshots
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-portrait-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-portrait-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-portrait-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-portrait-snap.png
  src/panel/components/__snapshots__/Pane.test.tsx.snap
  src/panel/pages/request/components/Fields.fixture.tsx
  src/panel/pages/request/components/Schema.fixture.tsx
  src/panel/pages/request/components/Search.fixture.tsx
Due: prettier --write, eslint
