Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix circle
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

use node 14 for now as buildkite/puppeteer only has that
  package.json
Due: prettier --write

try visual regression action
  .circleci/config.yml
  .github/workflows/ci.yml
  package.json
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

remove visual regression for now
  .github/workflows/ci.yml
  cosmos.config.json
  cosmos.override.js
  docker-compose.yml
  package.json
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

Revert "remove visual regression for now"
  .github/workflows/ci.yml
  cosmos.config.json
  cosmos.override.js
  docker-compose.yml
  package.json
  src/panel/visual-regression.test.ts
  yarn.lock
Due: prettier --write, eslint

update snapshots
  src/panel/App.css
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-landscape-snap.png
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/Navigation - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - empty-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Settings - filter-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-landscape-snap.png
Due: none

correct port
  .github/workflows/ci.yml
Due: none

use Roboto
  src/panel/App.css
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-landscape-snap.png
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/Navigation - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - empty-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Settings - filter-landscape-snap.png
  src/panel/__image_snapshots__/Settings - settings-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-landscape-snap.png
Due: none

tweak font rendering
  src/panel/App.css
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-landscape-snap.png
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/Navigation - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - empty-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Settings - filter-landscape-snap.png
  src/panel/__image_snapshots__/Tick - basic-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-landscape-snap.png
Due: none

update snappers
  src/panel/App.css
  src/panel/__image_snapshots__/Arguments - basic-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (large)-landscape-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-landscape-snap.png
  src/panel/__image_snapshots__/Disconnected - basic-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - error-landscape-snap.png
  src/panel/__image_snapshots__/ErrorBoundary - no error-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - basic-landscape-snap.png
  src/panel/__image_snapshots__/Explorer - updating-landscape-snap.png
  src/panel/__image_snapshots__/Mismatch - basic-landscape-snap.png
  src/panel/__image_snapshots__/Navigation - basic-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - empty-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-landscape-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-landscape-snap.png
  src/panel/__image_snapshots__/Request - basic-landscape-snap.png
  src/panel/__image_snapshots__/Request - error-landscape-snap.png
  src/panel/__image_snapshots__/Request - fetching-landscape-snap.png
  src/panel/__image_snapshots__/Request - response-landscape-snap.png
  src/panel/__image_snapshots__/Schema - basic-landscape-snap.png
  src/panel/__image_snapshots__/Settings - filter-landscape-snap.png
  src/panel/__image_snapshots__/Tick - basic-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-landscape-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-landscape-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-landscape-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-landscape-snap.png
Due: none

update matching
  src/panel/App.css
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

remove visual regression
  .github/workflows/ci.yml
  DEVELOPMENT.md
  docker-compose.yml
  package.json
  scripts/regression.sh
  src/panel/visual-regression.test.ts
  src/setupTests.ts
  tsconfig.json
Due: prettier --write, eslint

remove lint firefox from circle
  .circleci/config.yml
Due: none

remove circleCI, we will manually publish changes due to a token issue
  .circleci/config.yml
Due: none

cleanup
  .github/workflows/ci.yml
  src/panel/__image_snapshots__/TimelineDuration - Alive
  src/panel/__image_snapshots__/TimelineDuration - Alive: basic-landscape-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network
  src/panel/__image_snapshots__/TimelineDuration - Network: error-landscape-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network: fetching-landscape-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network: success-landscape-snap.png
  src/setupTests.ts
Due: prettier --write, eslint

update lockfile
  package.json
  yarn.lock
Due: prettier --write

convert from yarn to pnpm
  .github/ISSUE_TEMPLATE/bug_report_extension.md
  .github/ISSUE_TEMPLATE/bug_report_standalone.md
  .github/workflows/ci.yml
  .gitignore
  .husky/pre-commit
  DEVELOPMENT.md
  package.json
  pnpm-lock.yaml
  scripts/cosmos-add-badge.js
  src/panel/__image_snapshots__/TimelineDuration - Alive
  src/panel/__image_snapshots__/TimelineDuration - Network
  src/panel/pages/error/ErrorBoundary.tsx
  yarn.lock
Due: prettier --write, eslint

cleanup
  .eslintignore
  .prettierignore
  .yarnclean
Due: none

update jest
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/panel/App.test.tsx
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/components/Pane.test.tsx
  src/panel/components/__snapshots__/Pane.test.tsx.snap
  src/panel/context/Devtools.test.tsx
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Request.test.tsx
  src/panel/pages/events/components/TimelineRow.test.tsx
  tsconfig.json
Due: prettier --write, eslint

nanoid please
  babel.config.js
  jest.config.js
  pnpm-lock.yaml
  tsconfig.json
Due: prettier --write

fix types
  babel.config.js
  jest.config.js
  src/panel/components/Pane.test.tsx
  src/panel/context/Devtools.test.tsx
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Request.test.tsx
  src/setupTests.ts
Due: prettier --write, eslint

use husky-v4
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
  scripts/postinstall.js
Due: prettier --write

transform cjs differently
  babel.config.js
  jest.config.js
  package.json
Due: prettier --write

migrate to manifest v3
  src/extension/manifest.json
Due: prettier --write

upgrade web-ext
  package.json
  yarn.lock
Due: prettier --write

rename
  src/extension/manifest.json
Due: prettier --write

convert from yarn to pnpm (#403)
  .eslintignore
  .github/ISSUE_TEMPLATE/bug_report_extension.md
  .github/ISSUE_TEMPLATE/bug_report_standalone.md
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  .yarnclean
  DEVELOPMENT.md
  babel.config.js
  jest.config.js
  package.json
  pnpm-lock.yaml
  scripts/cosmos-add-badge.js
  scripts/postinstall.js
  src/panel/App.test.tsx
  src/panel/__image_snapshots__/TimelineDuration - Alive
  src/panel/__image_snapshots__/TimelineDuration - Network
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/components/Pane.test.tsx
  src/panel/components/__snapshots__/Pane.test.tsx.snap
  src/panel/context/Devtools.test.tsx
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Explorer/ast/index.test.tsx
  src/panel/context/Request.test.tsx
  src/panel/pages/error/ErrorBoundary.tsx
  src/panel/pages/events/components/TimelineRow.test.tsx
  src/setupTests.ts
  yarn.lock
Due: prettier --write, eslint

add changesets
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  scripts/changelog.js
Due: prettier --write

adjust publish steps
  .github_changelog_generator
  DEVELOPMENT.md
  package.json
Due: prettier --write

run prettier
  .changeset/README.md
  .changeset/config.json
  scripts/changelog.js
Due: prettier --write

pnpm lock update
  pnpm-lock.yaml
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
