Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

(fix) - enable minification for the chrome plugin build, this removes uglifyJS in favor of the actively maintained terser (#46)
  package.json
  webpack.config.js
  yarn.lock
Due: prettier --write

(fix) - put terser in ascii-only mode to prevent the conversion to utf-8 since this causes an invalid character
  webpack.config.js
Due: none

(fix) - put terser in ascii-only mode to prevent the conversion to utf-8 since this causes an invalid character (#47)
  webpack.config.js
Due: none

(chore) - add react-spring for animations
  package.json
  yarn.lock
Due: prettier --write

(feat) - add animation to our eventcard
  src/panel/events/EventCard.tsx
Due: prettier --write, eslint

(feat) - event card animation (#49)
  package.json
  src/panel/events/EventCard.tsx
  yarn.lock
Due: prettier --write, eslint

Add connection types and notify of init message
  src/background/EventBus.ts
  src/background/background.ts
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
  src/panel/utils.ts
  src/types/connections.ts
  src/types/index.ts
  src/types/panel.ts
Due: prettier --write, eslint

Remove exchange
  src/exchange/exchange.ts
  src/exchange/index.ts
Due: prettier --write, eslint

Rename and add description for EventTarget
  src/background/EventTarget.ts
  src/background/background.ts
Due: prettier --write, eslint

import
  src/content_script/index.ts
Due: prettier --write, eslint

remove old types
  src/globals.d.ts
  src/panel/context/Events.tsx
  src/types-old.ts
Due: prettier --write, eslint

(chore) - add spectrum badge
  README.md
Due: prettier --write

(feat) - listen for client connection and reset events when client dc's
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
Due: prettier --write, eslint

(feat) - listen for disconnect and fire appropriate event
  src/background/background.ts
Due: prettier --write, eslint

(feat) - reset events on disconnect
  src/background/EventTarget.ts
  src/panel/context/Events.tsx
Due: prettier --write, eslint

(chore) - add spectrum badge (#54)
  README.md
Due: prettier --write

(feat) - clear list on disconnect (#55)
  src/background/EventTarget.ts
  src/background/background.ts
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
Due: prettier --write, eslint

Copy over metadata changes from urql-devtools-exchange
  src/exchange/exchange.ts
  src/exchange/getDisplayName.ts
  src/exchange/types/incoming.ts
  src/exchange/types/index.ts
  src/exchange/types/outgoing.ts
Due: prettier --write, eslint

Revert changes to message types and window object
  src/exchange/exchange.ts
Due: prettier --write, eslint

Revert more changes
  src/exchange/exchange.ts
Due: prettier --write, eslint

Copy over metadata changes from urql-devtools-exchange (#56)
  src/exchange/exchange.ts
  src/exchange/getDisplayName.ts
  src/exchange/types/incoming.ts
  src/exchange/types/index.ts
  src/exchange/types/outgoing.ts
Due: prettier --write, eslint

Move extension dependencies to devDependencies temporarily
  package.json
  yarn.lock
Due: prettier --write

v0.0.3
  package.json
Due: prettier --write

(fix) - align the Time header right
  src/panel/events/Headers.tsx
Due: prettier --write, eslint

Update package.json
  package.json
Due: prettier --write

Rebuild lock and delete unused utils folder
  src/panel/utils.ts
  yarn.lock
Due: prettier --write, eslint

Fix type errors during build and add beta exchange
  package.json
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
  yarn.lock
Due: prettier --write, eslint

Migration to separate devtools exchange from devtools extension (#50)
  package.json
  src/background/EventTarget.ts
  src/background/background.ts
  src/content_script.ts
  src/content_script/index.ts
  src/devtools/devtools.ts
  src/exchange/exchange.ts
  src/exchange/getDisplayName.ts
  src/exchange/index.ts
  src/exchange/types/incoming.ts
  src/exchange/types/index.ts
  src/exchange/types/outgoing.ts
  src/globals.d.ts
  src/panel/context/Devtools.tsx
  src/panel/context/Events.tsx
  src/panel/context/Request.tsx
  src/panel/utils.ts
  src/types.ts
  src/types/connections.ts
  src/types/index.ts
  src/types/panel.ts
  tsconfig.json
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Remove exchange build from webpack config
  package.json
  webpack.config.js
Due: prettier --write

(fix) - align the Time header right (#58)
  src/panel/events/Headers.tsx
Due: prettier --write, eslint

(feat) - add basic notice of no events
  src/panel/events/Events.tsx
Due: prettier --write, eslint

(chore) - remove todo
  src/panel/events/Events.tsx
Due: prettier --write, eslint

(fix) - remove debug condition
  src/panel/events/Events.tsx
Due: prettier --write, eslint

(chore) - update the README
  README.md
Due: prettier --write

(refactor) - follow advice rom PR
  src/panel/events/Events.tsx
Due: prettier --write, eslint

(fix) - remove log statement
  src/panel/events/Events.tsx
Due: prettier --write, eslint

(feat) - notify user of no events (#62)
  src/panel/events/Events.tsx
Due: prettier --write, eslint

implement response query parsing
  package.json
  src/panel/App.tsx
  src/panel/Navigation.tsx
  src/panel/context/Events.tsx
  src/panel/context/Explorer/__tests__/__mocks__.ts
  src/panel/context/Explorer/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/node.ts
  src/panel/context/Explorer/ast/traversal.ts
  src/panel/context/Explorer/ast/types.ts
  src/panel/context/Explorer/ast/variables.ts
  src/panel/context/Explorer/index.tsx
  src/panel/context/index.ts
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/index.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

response + data parsing to displayable format
  src/panel/context/Explorer/__tests__/__mocks__.ts
  src/panel/context/Explorer/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/traversal.ts
  src/panel/context/Explorer/ast/variables.ts
  src/panel/context/Explorer/index.tsx
Due: prettier --write, eslint

simple UI implementation, refactored data parsing
  package.json
  src/panel/context/Explorer/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/__tests__/__mocks__.ts
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/index.tsx
  src/panel/explorer/Explorer.tsx
  yarn-error.log
  yarn.lock
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
