Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

update timeline fixture and vr
  src/panel/__image_snapshots__/TimelineEvent - addition (mutation)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (query)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (subscription)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - teardown-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (error)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (response)-snap.png
  src/panel/pages/timeline/Timeline.fixture.tsx
Due: prettier --write, eslint

Update events use SVG's instead of pure css
  src/assets/events/addition.svg
  src/assets/events/other.svg
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
Due: prettier --write, eslint

change to be onclick rather than passed func
  src/panel/pages/timeline/components/TimelineRow.tsx
Due: prettier --write, eslint

vr
  src/panel/__image_snapshots__/TimelineEvent - addition (mutation)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (query)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (subscription)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition-snap.png
  src/panel/__image_snapshots__/TimelineEvent - other-snap.png
  src/panel/__image_snapshots__/TimelineEvent - teardown-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (error)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (response)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - query section-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - subheading (collapsed)-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - subheading (expanded)-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - onHover-snap.png
Due: none

Update events to use shapes instead of colour (#120)
  src/assets/events/addition.svg
  src/assets/events/other.svg
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/__image_snapshots__/TimelineEvent - addition (mutation)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (query)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition (subscription)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition-snap.png
  src/panel/__image_snapshots__/TimelineEvent - other-snap.png
  src/panel/__image_snapshots__/TimelineEvent - teardown-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (error)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update (response)-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - query section-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - subheading (collapsed)-snap.png
  src/panel/__image_snapshots__/TimelinePaneSection - subheading (expanded)-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - onHover-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/pages/timeline/Timeline.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
  src/panel/pages/timeline/components/TimelineRow.tsx
  src/panel/theme.ts
  src/styled-components.d.ts
Due: prettier --write, eslint

Update all deps to latest
  package.json
  yarn.lock
Due: prettier --write

snapshot
  src/panel/pages/disconnected/__snapshots__/Disconnected.test.tsx.snap
Due: none

vr
  src/panel/__image_snapshots__/%7B%22path%22%3A%22src%2Fpanel%2Fpages%2Fexplorer%2Fcomponents%2FNodeInfoPane.fixture.tsx%22%2C%22name%22%3A%22empty%22%7D-snap.png
Due: none

Update to dev dep
  package.json
  yarn.lock
Due: prettier --write

Update devtools version
  package.json
  yarn.lock
Due: prettier --write

Remove any casts for new types
  src/panel/context/Timeline.tsx
Due: prettier --write, eslint

WIP: update the events to use the new debug events from the new event mechanism in core
  package.json
  src/assets/events/addition.svg
  src/assets/events/execution.svg
  src/assets/events/other.svg
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/context/Timeline.tsx
  src/panel/pages/timeline/Timeline.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/types.ts
  yarn.lock
Due: prettier --write, eslint

vr
  src/panel/__image_snapshots__/TimelineEvent - execution-snap.png
  src/panel/__image_snapshots__/TimelineEvent - other-snap.png
  src/panel/__image_snapshots__/TimelineEvent - teardown-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update-snap.png
Due: none

fix sizing, update teardown colour, update update icon
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/pages/timeline/components/TimelineEvent.tsx
Due: prettier --write, eslint

Add urql dependency
  package.json
  yarn.lock
Due: prettier --write

Update the event structure to use the new debug events (#122)
  package.json
  src/assets/events/addition.svg
  src/assets/events/execution.svg
  src/assets/events/other.svg
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/__image_snapshots__/TimelineEvent - execution-snap.png
  src/panel/__image_snapshots__/TimelineEvent - other-snap.png
  src/panel/__image_snapshots__/TimelineEvent - teardown-snap.png
  src/panel/__image_snapshots__/TimelineEvent - update-snap.png
  src/panel/context/Timeline.tsx
  src/panel/pages/timeline/Timeline.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/types.ts
Due: prettier --write, eslint

Update request panel types
  src/panel/context/Request.tsx
Due: prettier --write, eslint

Update request panel types and add tests
  src/panel/context/Request.test.tsx
  src/panel/context/Request.tsx
  src/setupTests.ts
Due: prettier --write, eslint

update cache Explorer to work with new devtools-exchange types
  package.json
  src/panel/context/Explorer/index.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
  yarn.lock
Due: prettier --write, eslint

Prettier files
  src/panel/components/Pane.tsx
  src/panel/pages/disconnected/Disconnected.fixture.tsx
  src/panel/pages/explorer/components/Value.fixture.tsx
  src/panel/pages/request/Request.tsx
  src/panel/pages/timeline/Timeline.fixture.tsx
  src/panel/pages/timeline/Timeline.tsx
  src/panel/pages/timeline/components/Tick.fixture.tsx
  src/panel/pages/timeline/components/Tick.tsx
  src/panel/pages/timeline/components/TimelineDuration.tsx
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
  src/panel/pages/timeline/components/TimelinePane/PaneSection.fixture.tsx
  src/panel/pages/timeline/components/TimelinePane/PaneSection.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelineEventSection.fixture.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelineEventSection.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelineQuerySection.fixture.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelineQuerySection.tsx
  src/panel/pages/timeline/components/TimelineRequest.fixture.tsx
  src/panel/pages/timeline/components/TimelineRequest.tsx
  src/panel/pages/timeline/components/TimelineRow.tsx
  src/panel/pages/timeline/components/TimelineTooltip.fixture.tsx
  src/panel/pages/timeline/components/TimelineTooltip.tsx
  src/panel/theme.ts
  src/panel/types.ts
  src/panel/visual-regression.test.ts
  src/setupTests.ts
Due: prettier --write, eslint

Fix prettier config
  .prettierignore
  package.json
Due: prettier --write

Update snapshots
  src/panel/__image_snapshots__/Request - basic-snap.png
  src/panel/__image_snapshots__/Request - error-snap.png
  src/panel/__image_snapshots__/Request - fetching-snap.png
  src/panel/__image_snapshots__/Request - response-snap.png
  src/panel/__image_snapshots__/TimelineEventSection - query section-snap.png
  src/panel/__image_snapshots__/TimelinePane - combined-snap.png
  src/panel/__image_snapshots__/TimelineQuerySection - query section-snap.png
Due: none

Update src/panel/context/Explorer/index.tsx
  src/panel/context/Explorer/index.tsx
Due: prettier --write, eslint

update cache Explorer to work with new devtools-exchange types
  src/panel/context/Explorer/index.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
  yarn.lock
Due: prettier --write, eslint

reset yarn.lock
  yarn.lock
Due: none

Update timeline types
  src/panel/context/Timeline.tsx
  src/panel/pages/timeline/Timeline.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.fixture.tsx
  src/panel/pages/timeline/components/TimelineEvent.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelineEventSection.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.fixture.tsx
  src/panel/pages/timeline/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/timeline/components/TimelineRow.tsx
  src/panel/types.ts
Due: prettier --write, eslint

Add fixtures for timeline row
  src/panel/context/Timeline.tsx
  src/panel/pages/timeline/components/TimelineRow.fixture.tsx
Due: prettier --write, eslint

Timeline row filtering
  src/panel/pages/timeline/components/TimelineRow.tsx
Due: prettier --write, eslint

add tests for cache Explorer
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Explorer/index.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
Due: prettier --write, eslint

remove test restrictions
  src/panel/context/Explorer/Explorer.test.tsx
Due: prettier --write, eslint

update cache Explorer to work with new devtools-exchange types (#124)
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Explorer/index.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
Due: prettier --write, eslint

Add network snapshots
  src/panel/__image_snapshots__/TimelineNetworkDuration - error-snap.png
  src/panel/__image_snapshots__/TimelineNetworkDuration - fetching-snap.png
  src/panel/__image_snapshots__/TimelineNetworkDuration - success-snap.png
  src/panel/cosmos.decorator.tsx
  src/panel/pages/timeline/components/TimelineNetworkDuration.fixture.tsx
  src/panel/pages/timeline/components/TimelineNetworkDuration.tsx
  src/panel/pages/timeline/components/TimelineRow.fixture.tsx
  src/panel/pages/timeline/components/TimelineRow.test.tsx
  src/panel/pages/timeline/components/TimelineRow.tsx
  src/panel/pages/timeline/components/__snapshots__/TimelineRow.test.tsx.snap
Due: prettier --write, eslint

Add tests for visual regression
  cosmos.config.json
  docker-compose.yml
  src/panel/__image_snapshots__/TimelineDuration - Alive: basic-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network: error-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network: fetching-snap.png
  src/panel/__image_snapshots__/TimelineDuration - Network: success-snap.png
  src/panel/__image_snapshots__/TimelineEvent - addition-snap.png
  src/panel/__image_snapshots__/TimelineRequest - error-snap.png
  src/panel/__image_snapshots__/TimelineRequest - fetching-snap.png
  src/panel/__image_snapshots__/TimelineRequest - success-snap.png
  src/panel/__image_snapshots__/TimelineRow - basic-snap.png
  src/panel/__image_snapshots__/TimelineRow - network error-snap.png
  src/panel/__image_snapshots__/TimelineRow - network success-snap.png
  src/panel/pages/timeline/components/TimelineDuration.fixture.tsx
  src/panel/pages/timeline/components/TimelineDuration.tsx
  src/panel/pages/timeline/components/TimelineRequest.fixture.tsx
  src/panel/pages/timeline/components/TimelineRequest.tsx
  src/panel/pages/timeline/components/TimelineRow.tsx
  src/panel/pages/timeline/components/__snapshots__/TimelineRow.test.tsx.snap
  src/setupTests.ts
Due: prettier --write, eslint

Update timeline fixture
  package.json
  src/panel/pages/timeline/Timeline.fixture.tsx
  yarn.lock
Due: prettier --write, eslint

Rebuild lock file
  yarn.lock
Due: none

Update color of events on hover
  cosmos.override.js
  package.json
  src/assets/events/execution.svg
  src/assets/events/other.svg
  src/assets/events/teardown.svg
  src/assets/events/update.svg
  src/panel/pages/timeline/components/TimelineEvent.tsx
  webpack.config.js
  yarn.lock
Due: prettier --write, eslint

Fix prettier
  cosmos.override.js
  webpack.config.js
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
