Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Add padding to start time
  src/panel/context/Timeline.tsx
  src/panel/pages/events/components/Settings.tsx
Due: prettier --write, eslint

Add perf optimizations
  src/panel/components/CodeHighlight.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
Due: prettier --write, eslint

Bump alpha version
  package.json
  yarn.lock
Due: prettier --write

Use FixtureApi import type
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Update cosmos hostname for visual regression
  src/panel/visual-regression.test.ts
Due: prettier --write, eslint

Add color yellow to theme
  src/panel/pages/explorer/components/Icons.tsx
  src/panel/pages/request/components/Query.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-snap.png
  src/panel/__image_snapshots__/Explorer - basic-snap.png
  src/panel/__image_snapshots__/Explorer - updating-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-snap.png
  src/panel/__image_snapshots__/Request - basic-snap.png
  src/panel/__image_snapshots__/Request - error-snap.png
  src/panel/__image_snapshots__/Request - fetching-snap.png
  src/panel/__image_snapshots__/Request - response-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-snap.png
  src/panel/__snapshots__/App.test.tsx.snap
Due: none

Add gif
  assets/preview.gif
Due: none

Add gif to readme
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: prettier --write

Update icons
  src/assets/icon-128.png
  src/assets/icon-16.png
  src/assets/icon-256.png
  src/assets/icon-32.png
  src/assets/icon-48.png
  src/assets/icon-512.png
  src/assets/icon-64.png
  src/assets/icon-disabled-128.png
  src/assets/icon-disabled-256.png
  src/assets/icon-disabled-32.png
  src/assets/icon-disabled-512.png
  src/assets/icon-disabled-64.png
  src/assets/icon.svg
Due: none

Add cosmos-build command and helper script.
  .gitignore
  package.json
  scripts/cosmos-add-badge.js
Due: prettier --write

Prettier
  .prettierignore
  scripts/cosmos-add-badge.js
Due: none

Revert "Add netlify badge"
  README.md
Due: prettier --write

Flash value on update
  src/panel/pages/explorer/components/ListItem.tsx
Due: prettier --write, eslint

Update src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/ListItem.tsx
Due: prettier --write, eslint

Update color, typography and sizing
  src/panel/App.css
  src/panel/Navigation.tsx
  src/panel/components/Background.tsx
  src/panel/pages/events/Timeline.tsx
  src/panel/pages/events/components/Settings.tsx
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/events/components/TimelineSourceIcon.tsx
  src/panel/pages/explorer/components/ListItem.tsx
  src/panel/pages/explorer/components/NodeInfoPane.tsx
  src/panel/pages/explorer/components/Tree.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/pages/request/components/Settings.tsx
Due: prettier --write, eslint

Add scrollbar
  src/panel/App.css
  src/panel/pages/events/components/TimelinePane/TimelinePane.tsx
  src/panel/pages/request/components/Response.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Add version check page and logic
  package.json
  src/panel/App.css
  src/panel/App.tsx
  src/panel/context/Devtools.tsx
  src/panel/pages/index.ts
  src/panel/pages/mismatch/Mismatch.fixture.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/pages/mismatch/index.ts
  yarn.lock
Due: prettier --write, eslint

Update types and add test for App
  src/panel/App.test.tsx
  src/panel/__snapshots__/App.test.tsx.snap
  src/panel/context/Explorer/Explorer.test.tsx
  src/panel/context/Request.test.tsx
  src/panel/cosmos.decorator.tsx
  src/panel/pages/explorer/Explorer.fixture.tsx
Due: prettier --write, eslint

Update snapshots
  src/panel/__image_snapshots__/CodeHighlight - Block - GraphQL-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Block - JSON-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - array-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - object-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string (collapsed)-snap.png
  src/panel/__image_snapshots__/CodeHighlight - Inline - string-snap.png
  src/panel/__image_snapshots__/Disconnected - basic-snap.png
  src/panel/__image_snapshots__/Explorer - basic-snap.png
  src/panel/__image_snapshots__/Explorer - updating-snap.png
  src/panel/__image_snapshots__/Navigation - basic-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache hit-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache miss-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - cache partial-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - empty-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with args-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with children-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (object)-snap.png
  src/panel/__image_snapshots__/NodeInfoPane - with value (string)-snap.png
  src/panel/__image_snapshots__/Request - basic-snap.png
  src/panel/__image_snapshots__/Request - error-snap.png
  src/panel/__image_snapshots__/Request - fetching-snap.png
  src/panel/__image_snapshots__/Request - response-snap.png
  src/panel/__image_snapshots__/Settings - filter-snap.png
  src/panel/__image_snapshots__/Settings - settings-snap.png
  src/panel/__image_snapshots__/TimelinePane - event (without metadata)-snap.png
  src/panel/__image_snapshots__/TimelinePane - event-snap.png
  src/panel/__image_snapshots__/TimelinePane - source (without variables)-snap.png
  src/panel/__image_snapshots__/TimelinePane - source-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - mutation-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - query-snap.png
  src/panel/__image_snapshots__/TimelineSourceIcon - subscription-snap.png
  src/panel/__image_snapshots__/TimelineTooltip - basic-snap.png
Due: none

Add devtools context tests
  src/panel/context/Devtools.test.tsx
Due: prettier --write, eslint

Add new snapshot for mismatch
  src/panel/__image_snapshots__/Mismatch - basic-snap.png
Due: none

Update src/panel/context/Devtools.tsx
  src/panel/context/Devtools.tsx
Due: prettier --write, eslint

Use __urql_devtools__
  src/panel/context/Devtools.test.tsx
  src/panel/context/Devtools.tsx
Due: prettier --write, eslint

Force mutual exclusion on useEffect checks
  src/panel/context/Devtools.tsx
Due: prettier --write, eslint

Add yarn/npm install instructions
  src/panel/components/CodeHighlight.tsx
  src/panel/pages/mismatch/Mismatch.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

Add new snapshot
  src/panel/__image_snapshots__/Mismatch - basic-snap.png
Due: none

Update @urql/core
  package.json
  yarn.lock
Due: prettier --write

Update package version
  package.json
  yarn.lock
Due: prettier --write

Update codemirror
  package.json
  yarn.lock
Due: prettier --write

Update @urql/devtools
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,md,html,json}
  eslint: any of: *.{ts,tsx}
