Repository urql-graphql/urql-devtools: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,md,html,json}": ["prettier --write", "git add"],
  "*.{ts,tsx}": ["eslint"]
}

clean up dependencies, refactor request to not include apollo-link-http, continue with UI work
  package.json
  src/content_script/index.ts
  src/definitions.d.ts
  src/panel/App.css
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/index.tsx
  src/panel/context/Request.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/assets/caret.svg
  yarn.lock
Due: prettier --write, eslint

update colors, continue with UI
  src/panel/App.css
  src/panel/App.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/Icons.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/assets/caret.svg
Due: prettier --write, eslint

fixed highlighting selected nodes, start refactoring ListItem, fix types
  package.json
  src/content_script/index.ts
  src/definitions.d.ts
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/node.ts
  src/panel/explorer/Arguments.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Value.tsx
  src/styled-components.d.ts
  yarn.lock
Due: prettier --write, eslint

refactor renderTree to Tree component, add highlighting to value updates
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/types.ts
  src/panel/context/Explorer/index.tsx
  src/panel/explorer/Arguments.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
  src/panel/explorer/Value.tsx
Due: prettier --write, eslint

add higlighting to top level nodes, clean up
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/Highlight.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
  src/panel/explorer/Value.tsx
Due: prettier --write, eslint

add temp empty state
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/ListItem.tsx
Due: prettier --write, eslint

remove JSON.stringify for Values, other smaller improvements
  src/panel/App.css
  src/panel/context/Explorer/index.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Value.tsx
Due: prettier --write, eslint

Refactor copyFromData to avoid more copies
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
Due: prettier --write, eslint

update colors theme for explorer (temp naming)
  package.json
  src/devtools/devtools.ts
  src/panel/App.tsx
  src/panel/explorer/Arguments.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/Highlight.tsx
  src/panel/explorer/Icons.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
  src/panel/explorer/Value.tsx
  src/panel/theme.ts
  yarn.lock
Due: prettier --write, eslint

fix up theme names + types
  src/panel/components/Tabs.tsx
  src/panel/events/Events.tsx
  src/panel/events/Filters.tsx
  src/panel/events/Headers.tsx
  src/panel/explorer/Arguments.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/Highlight.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
  src/panel/explorer/Value.tsx
  src/panel/request/Query.tsx
  src/panel/request/Response.tsx
  src/panel/theme.ts
  src/styled-components.d.ts
Due: prettier --write, eslint

fix broken updates, add new styles for highlighting
  src/panel/App.css
  src/panel/context/Explorer/ast/index.ts
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/explorer/Highlight.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
  src/panel/explorer/Value.tsx
  src/panel/theme.ts
Due: prettier --write, eslint

clean dependency
  .gitignore
  package.json
  yarn-error.log
Due: prettier --write

add cache outcome info to detail view
  src/panel/context/Explorer/ast/__tests__/__mocks__.ts
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/ast/types.ts
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Icons.tsx
  src/panel/explorer/ListItem.tsx
  src/panel/explorer/Tree.tsx
Due: prettier --write, eslint

fix empty children values rendering
  src/panel/App.css
  src/panel/explorer/ListItem.tsx
Due: prettier --write, eslint

update getFieldArgs to match graphcache implementation
  src/panel/context/Explorer/ast/variables.ts
Due: prettier --write, eslint

fix false negatives in cache outcomes, nested values, refreshing
  src/background/EventTarget.ts
  src/content_script/index.ts
  src/panel/Navigation.tsx
  src/panel/context/Devtools.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/context/Explorer/index.tsx
  src/panel/context/Request.tsx
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
Due: prettier --write, eslint

chore: remove sailci
  .sail.yml
Due: none

self review
  src/panel/context/Devtools.tsx
  src/panel/events/EventCard.tsx
Due: prettier --write, eslint

update docs and fix redirect link
  README.md
  src/panel/App.tsx
Due: prettier --write, eslint

update version
  package.json
Due: prettier --write

add additional icon sizes
  src/assets/icon-16.png
  src/assets/icon-48.png
  src/manifest.json
Due: prettier --write

Add bundling command to prevent dumb zipping issues from me
  package.json
  yarn.lock
Due: prettier --write

Add test & bundling to CI
  .circleci/config.yml
Due: none

Add auto publishing
  .circleci/config.yml
Due: none

Add publish script
  .circleci/config.yml
Due: none

Bump version
  package.json
Due: prettier --write

Restore missing CI steps
  .circleci/config.yml
Due: none

Rename _meta to cacheOutcome
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/explorer/DetailView.tsx
Due: prettier --write, eslint

Rename _meta to cacheOutcome (#72)
  src/panel/context/Explorer/ast/__tests__/index.test.tsx
  src/panel/context/Explorer/ast/index.ts
  src/panel/explorer/DetailView.tsx
Due: prettier --write, eslint

Restore test
  .circleci/config.yml
Due: none

Add bundling of package (#70)
  .circleci/config.yml
  package.json
  yarn.lock
Due: prettier --write

fix build
  .circleci/config.yml
Due: none

Create pane component
  src/panel/components/Pane.tsx
  src/panel/components/index.ts
  src/panel/events/panels/JsonCode.tsx
  src/panel/events/panels/Panel.tsx
  src/panel/events/panels/QueryPanel.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/hooks/index.ts
  src/panel/hooks/useOrientationWatcher.ts
  src/panel/request/Response.tsx
  src/panel/theme.ts
  src/styled-components.d.ts
Due: prettier --write, eslint

Add aria attributes and prevent selection
  src/panel/components/Pane.tsx
Due: prettier --write, eslint

add detailview back in
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
Due: prettier --write, eslint

fix usage of name panel + add reuse for json code'
  src/panel/components/code/JsonCode.tsx
  src/panel/components/code/QueryCode.tsx
  src/panel/components/code/index.ts
  src/panel/components/index.ts
  src/panel/events/EventPane.tsx
  src/panel/events/Events.tsx
  src/panel/events/panels/index.ts
  src/panel/request/Response.tsx
Due: prettier --write, eslint

setup testing infra
  babel.config.js
  jest.config.js
  package.json
  src/panel/components/Pane.spec.tsx
  src/panel/components/Pane.tsx
  src/panel/components/Tabs.spec.tsx
  src/panel/components/__snapshots__/Pane.spec.tsx.snap
  src/panel/components/__snapshots__/Tabs.spec.tsx.snap
  src/setupTests.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

moar tests
  src/panel/events/EventCard.spec.tsx
  src/panel/events/EventCard.tsx
  src/panel/events/__snapshots__/EventCard.spec.tsx.snap
  src/panel/hooks/index.ts
  src/panel/hooks/useEventsContext.ts
  src/panel/hooks/useThemeContext.ts
  src/panel/types.ts
Due: prettier --write, eslint

Pane component (#79)
  babel.config.js
  jest.config.js
  package.json
  src/panel/components/Pane.spec.tsx
  src/panel/components/Pane.tsx
  src/panel/components/Tabs.spec.tsx
  src/panel/components/__snapshots__/Pane.spec.tsx.snap
  src/panel/components/__snapshots__/Tabs.spec.tsx.snap
  src/panel/components/code/JsonCode.tsx
  src/panel/components/code/QueryCode.tsx
  src/panel/components/code/index.ts
  src/panel/components/index.ts
  src/panel/events/EventCard.spec.tsx
  src/panel/events/EventCard.tsx
  src/panel/events/EventPane.tsx
  src/panel/events/Events.tsx
  src/panel/events/__snapshots__/EventCard.spec.tsx.snap
  src/panel/events/panels/index.ts
  src/panel/explorer/DetailView.tsx
  src/panel/explorer/Explorer.tsx
  src/panel/hooks/index.ts
  src/panel/hooks/useEventsContext.ts
  src/panel/hooks/useOrientationWatcher.ts
  src/panel/hooks/useThemeContext.ts
  src/panel/request/Response.tsx
  src/panel/theme.ts
  src/panel/types.ts
  src/setupTests.ts
  src/styled-components.d.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint

Fix incorrect animations
  src/panel/events/Events.tsx
Due: prettier --write, eslint
